.banner {
  width: 100%;
  height: 350px;
  background: url("../assets/banner-epu.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 1rem;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  width: 320px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-box button {
  background: #0072ce;
  padding: 10px 18px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
